{% extends 'base.html' %}
{% block title %}Search Movies{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<form method="POST">
    {% csrf_token %}
  <div style="text-align: center;" class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Type the name of a movie to find it :</label>
    {{ form }}
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </div>
</form>

{% endblock %}